<footer class="main-footer pt-5 pb-3">

  <div class="d-flex flex-column flex-md-row">
    <nav class="me-auto">
        <ul>
          <li>
              <a class="text-black" href="/privacy">Privacy</a>
          </li>
        </ul>
    </nav>

    <nav class="ms-auto bg-white border-start border-top border-bottom border-3 border-black drop-shadow">
        <ul>
          <li>
            <a class="text-black" href="https://www.facebook.com/douglas.fenstermacher">
                <i class="fab fab-facebook-alt bt-lg"></i>
            </a>
          </li>
          <li>
            <a class="text-black" href="https://github.com/dpfens">
                <i class="fab fab-github-alt bt-lg"></i>
            </a>
          </li>
          <li>
            <a class="text-black" href="https://www.instagram.com/dpfenster/">
                <i class="fab fab-instagram bt-lg"></i>
            </a>
          </li>
          <li>
            <a class="text-black" href="https://www.linkedin.com/in/douglas-fenstermacher-499b5357/">
                <i class="fab fab-linkedin-alt bt-lg"></i>
            </a>
          </li>
          <li>
            <a class="text-black" href="https://stackoverflow.com/users/2829487/dfenstermacher">
                <i class="fab fab-stackoverflow bt-lg"></i>
            </a>
          </li>
          <li>
            <a class="text-black" href="https://twitter.com/DougFenstermach">
                <i class="fab fab-twitter bt-lg"></i>
            </a>
          </li>
        </ul>
    </nav>
  </div>
  <div class="text-center mt-3">Copyright &copy; {{ site.time | date: '%Y' }}</div>
</footer>