<style>
    .dominant-colors {
        display: flex;
        min-height: 5em;
        width: 100%;
        flex-wrap: wrap;
    }

    img#test {
        max-width: 50vw;
        min-height: 20em;
    }

    .color {
        display: flex;
        justify-content: space-between;
        font-family: Arial, Helvetica, sans-serif;
        flex-grow: 1;
        height: 7em;
        padding: 1em;
    }

    .color .color-value {
        font-size: 2.5em;
    }


    .color .color-proportion {
        font-size: 1em;
        text-align: right;
    }

    .color .color-proportion::after {
        content: '%';

    }
</style>

<img id="test" src="/assets/img/posts/example.jpg" />
<div>
    <label>Min K</label>
    <input type="number" id="min-k" min="2" increment="1" value="6"/>

    <label>Max K</label>
    <input type="number" id="max-k" min="2" increment="1" value="6"/>

    <label>Max Iterations</label>
    <input type="number" id="max-iterations" min="5" increment="1" value="10"/>
    <button id="submit">Extract</button>
</div>
<div class="dominant-colors" style="padding-top: 1em;"></div>
<div style="width: 100%;">
    <canvas id="bubble-chart" style="height: 40em;"></canvas>
</div>
<script src="/assets/js/posts/xmeans.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
    document.body.addEventListener("dragenter", dragenter, false);
    document.body.addEventListener("dragover", dragover, false);
    document.body.addEventListener("drop", drop, false);

    var imgElement = document.querySelector('#test'),
        minKElement = document.querySelector('#min-k'),
        maxKElement = document.querySelector('#max-k'),
        maxIterationsElement = document.querySelector('#max-iterations'),
        bubbleChartElement = document.querySelector('#bubble-chart'),
        bubbleChart = new Chart(bubbleChartElement, {
            type: 'bubble',
            data: {
                datasets: []
            },
            options: {
                maintainAspectRatio: false,
                scales: {
                    x: {
                        title: {
                            display: true,
                            align: 'center',
                            text: 'Avg Inter-centroid distance'
                        }
                    },
                    y: {
                        title: {
                            display: true,
                            align: 'center',
                            text: 'Intra-cluster distance'
                        }
                    }
                }
            }
        });
        submitElement = document.querySelector('#submit');
                
    minKElement.addEventListener('change', function(e) {
        var minK = parseInt(minKElement.value),
            maxK = parseInt(maxKElement.value);
        if (minK > maxK) {
            maxKElement.value = minK;
        }
    });

    maxKElement.addEventListener('change', function(e) {
        var minK = parseInt(minKElement.value),
            maxK = parseInt(maxKElement.value),
            maxIterations = parseInt(maxIterationsElement.value);
        if (minK > maxK) {
            minKElement.value = maxK;
        }
        if (maxK > maxIterations) {
            maxIterationsElement.value = maxK;
        }
    });

    if (window.Worker) {
        const worker = new Worker('/assets/js/posts/color-extraction/worker.js');
        worker.onmessage = function(event) {
            console.log(event);
            const data = event.data;
            console.log(data);
            data.clusters.sort(function(a, b) {
                return b.points.length - a.points.length;
            });
            const dominantColorContainerElement = document.querySelector('.dominant-colors');
            renderColorPalette(dominantColorContainerElement, data);
            renderBubbleChart(bubbleChartElement, data);
            submitElement.textContent = 'Submit';
            submitElement.disabled = false;
        }

        submitElement.addEventListener('click', function() {
            submitElement.textContent = 'Processing';
            submitElement.disabled = true;
            var minKClusters = parseInt(minKElement.value),
                maxKClusters = parseInt(maxKElement.value),
                maxIterations = parseInt(maxIterationsElement.value),
                imgData = loadData(imgElement),
                processedImgData = [];
            for (var i = 0; i < imgData.data.length; i += 4) {
                var rgbColor = [imgData.data[i], imgData.data[i + 1], imgData.data[i + 2], imgData.data[i + 3]],
                    labColor = rgb2lab(rgbColor);
                processedImgData.push(labColor);
            }
            worker.postMessage({minK: minKClusters, maxK: maxKClusters, maxIterations: maxIterations, data: processedImgData});
        });
    }

    function loadData(imgElement) {
        const canvas = document.createElement("canvas"),
            ctx = canvas.getContext("2d");
        canvas.width = imgElement.width;
        canvas.height = imgElement.height;
        ctx.drawImage(imgElement, 0, 0);
        const imageData = ctx.getImageData(0, 0, imgElement.width, imgElement.height);
        return imageData;
    }

    function clusterPixels(element, minK, maxK, maxIterations) {
        var imgData = loadData(element),
            data = [];
        for (var i = 0; i < imgData.data.length; i += 4) {
            var rgbColor = [imgData.data[i], imgData.data[i + 1], imgData.data[i + 2], imgData.data[i + 3]],
                labColor = rgb2lab(rgbColor);
            data.push(labColor);
        }
        var kmeansClusterer = new XMeans(minK, maxK, deltaE2000, {maxIterations: maxIterations, splitThreshold: 0.05, distanceThreshold: 1}),
            results = kmeansClusterer.transform(data, {kDTree: false});
        results.daviesBouldinIndices = kmeansClusterer.daviesBouldinIndex(results);
        results.calinskiHarabaszIndex = kmeansClusterer.calinskiHarabaszIndex(data, results);
        results.clusterDistances = kmeansClusterer.meanDistanceBetweenCentroids(results.clusters);
        results.intraClusterDistances = kmeansClusterer.meanDistanceWithinClusters(results.clusters);
        return results
    }

    function extractDominantColors(element, minK, maxK, maxIterations) {
        var clusterData = clusterPixels(imgElement, minK, maxK, maxIterations);
        // sort colors by prominance
        clusterData.clusters.sort(function(a, b) {
            return b.points.length - a.points.length;
        });
        return clusterData;
    }


    function renderColorPalette(containerElement, results) {
        containerElement.innerHTML = '';

        var clusters = results.clusters,
            black = rgb2lab([0, 0, 0, 1]),
            white = rgb2lab([255, 255, 255, 1]);
        
        // order by dominance
        clusters.sort(function(a, b) {
            return b.points.length - a.points.length;
        });

        // total number of points
        var totalPoints = clusters.reduce(function(sum, cluster) {
            return sum + cluster.points.length;
        }, 0);
        for (var i = 0; i < clusters.length; i++) {
            var cluster = clusters[i],
                color = cluster.centroid,
                rgbColor = lab2rgb(color),
                hexColor = rgb2Hex(rgbColor),
                colorElement = document.createElement('div'),
                proportion = ((cluster.points.length / totalPoints) * 100).toFixed(2);
            colorElement.className = 'color';
            colorElement.style.background = hexColor;
            colorElement.style.color = deltaE2000(black, color) > deltaE2000(white, color) ? `black` : 'white';

            colorElement.innerHTML = `<div class="color-value">${hexColor}</div>
                <div class="color-proportion">${proportion}</div>`;
            containerElement.appendChild(colorElement);
        }
    }


    function renderBubbleChart(element, results) {
        var clusters = results.clusters,
            black = rgb2lab([0, 0, 0, 1]),
            white = rgb2lab([255, 255, 255, 1]);
        
        // order by dominance
        clusters.sort(function(a, b) {
            return b.points.length - a.points.length;
        });

        // total number of points
        var totalPoints = clusters.reduce(function(sum, cluster) {
            return sum + cluster.points.length;
        }, 0);

        var datasets = [];
        for (var i = 0; i < clusters.length; i++) {
            var cluster = clusters[i],
                color = cluster.centroid,
                rgbColor = lab2rgb(color),
                hexColor = rgb2Hex(rgbColor),
                proportion = ((cluster.points.length / totalPoints) * 100).toFixed(2),
                dataset = {
                    label: hexColor,
                    backgroundColor: hexColor,
                    data: [{
                        x: results.clusterDistances[i],
                        y: results.intraClusterDistances[i],
                        r: proportion * 3
                    }]
                };
            datasets.push(dataset);
        }
        var data = {
            datasets: datasets
        };
        bubbleChart.data.labels.pop();
        bubbleChart.data.datasets = datasets;
        bubbleChart.update();
    }

    function componentToHex(c) {
        var hex = c.toString(16);
        return hex.length == 1 ? "0" + hex : hex;
    }

    function rgb2Hex(rgb) {
        var r = Math.round(rgb[0]),
            g = Math.round(rgb[1]),
            b = Math.round(rgb[2]);
        return "#" + componentToHex(r) + componentToHex(g) + componentToHex(b);
    }


    function rgb2lab(rgba) {
        var r = rgba[0] / 255,
            g = rgba[1] / 255,
            b = rgba[2] / 255,
            alpha = rgba[3], // alpha, untouched
            x,
            y,
            z;

        r = r > 0.04045 ? Math.pow((r + 0.055) / 1.055, 2.4) : r / 12.92;
        g = g > 0.04045 ? Math.pow((g + 0.055) / 1.055, 2.4) : g / 12.92;
        b = b > 0.04045 ? Math.pow((b + 0.055) / 1.055, 2.4) : b / 12.92;

        x = (r * 0.4124 + g * 0.3576 + b * 0.1805) / 0.95047;
        y = (r * 0.2126 + g * 0.7152 + b * 0.0722) / 1.0;
        z = (r * 0.0193 + g * 0.1192 + b * 0.9505) / 1.08883;

        x = x > 0.008856 ? Math.pow(x, 1 / 3) : 7.787 * x + 16 / 116;
        y = y > 0.008856 ? Math.pow(y, 1 / 3) : 7.787 * y + 16 / 116;
        z = z > 0.008856 ? Math.pow(z, 1 / 3) : 7.787 * z + 16 / 116;

        return [116 * y - 16, 500 * (x - y), 200 * (y - z), alpha];
    }

    function lab2rgb(laba) {
        var y = (laba[0] + 16) / 116,
            x = laba[1] / 500 + y,
            z = y - laba[2] / 200,
            alpha = laba[3], // alpha, untouched
            r,
            g,
            b;

        x = 0.95047 * (x * x * x > 0.008856 ? x * x * x : (x - 16 / 116) / 7.787);
        y = 1.0 * (y * y * y > 0.008856 ? y * y * y : (y - 16 / 116) / 7.787);
        z = 1.08883 * (z * z * z > 0.008856 ? z * z * z : (z - 16 / 116) / 7.787);

        r = x * 3.2406 + y * -1.5372 + z * -0.4986;
        g = x * -0.9689 + y * 1.8758 + z * 0.0415;
        b = x * 0.0557 + y * -0.204 + z * 1.057;

        r = r > 0.0031308 ? 1.055 * Math.pow(r, 1 / 2.4) - 0.055 : 12.92 * r;
        g = g > 0.0031308 ? 1.055 * Math.pow(g, 1 / 2.4) - 0.055 : 12.92 * g;
        b = b > 0.0031308 ? 1.055 * Math.pow(b, 1 / 2.4) - 0.055 : 12.92 * b;

        return [
            Math.max(0, Math.min(1, r)) * 255,
            Math.max(0, Math.min(1, g)) * 255,
            Math.max(0, Math.min(1, b)) * 255,
            alpha
        ];
    }

    function dragenter(e) {
        e.stopPropagation();
        e.preventDefault();
    }

    function dragover(e) {
        e.stopPropagation();
        e.preventDefault();
        }

    function drop(e) {
        e.stopPropagation();
        e.preventDefault();

        const dt = e.dataTransfer;
        const files = dt.files;
        
        if (files.length) {
            var file = files[0];
            imgElement.src = URL.createObjectURL(file);
            imgElement.onload = () => {
            URL.revokeObjectURL(imgElement.src);
            };
        }
    }

    function deltaE2000(labA, labB, options) {
    /*
    * CIE2000 equation for quantifying perceptual distance between colors.
    * For a very high-level explanation, see https://sensing.konicaminolta.us/us/blog/identifying-color-differences-using-l-a-b-or-l-c-h-coordinates/
    * or for a more mathematical approach: https://zschuessler.github.io/DeltaE/learn/
    * Implementation based on equations from http://www.brucelindbloom.com/index.html?Eqn_DeltaE_CIE2000.html 
    * 
    * Thresholds
    * 0: No perceivable difference between the colors.
    * 0-1: Very slight difference, likely imperceptible to most observers.
    * 1-2: Slight difference, noticeable to trained observers or under careful examination.
    * 2-3.5: Distinct difference, noticeable to most observers.
    * 3.5-5: Significant difference, readily apparent to all observers.
    * Above 5: Very large difference, colors are clearly distinct.
    * 
    * Weighting factors
    * kL (lightness weighting factor): Controls the influence of lightness differences on the overall Delta E 2000 value.
    * kC (chroma weighting factor): Controls the influence of chroma differences.
    * kH (hue weighting factor): Controls the influence of hue differences.
    * 
    * Higher values of a given factor emphasize that aspect of the color.  Each ranges from 0 to 2, and default to 1.
    */

    const l1 = labA[0],
        a1 = labA[1],
        b1 = labA[2],
        l2 = labB[0],
        a2 = labB[1],
        b2 = labB[2];

    // missing utility functions added to Math Object
    Math.rad2deg = function(rad) {
        return 360 * rad / (2 * Math.PI);
    };
    Math.deg2rad = function(deg) {
        return (2 * Math.PI * deg) / 360;
    };
    
    const avgL = (l1 + l2) / 2;
    const c1 = Math.sqrt(Math.pow(a1, 2) + Math.pow(b1, 2));
    const c2 = Math.sqrt(Math.pow(a2, 2) + Math.pow(b2, 2));
    const avgC = (c1 + c2) / 2;
    const g = (1 - Math.sqrt(Math.pow(avgC, 7) / (Math.pow(avgC, 7) + Math.pow(25, 7)))) / 2;

    const a1p = a1 * (1 + g);
    const a2p = a2 * (1 + g);

    const c1p = Math.sqrt(Math.pow(a1p, 2) + Math.pow(b1, 2));
    const c2p = Math.sqrt(Math.pow(a2p, 2) + Math.pow(b2, 2));

    const avgCp = (c1p + c2p) / 2;

    let h1p = Math.rad2deg(Math.atan2(b1, a1p));
    if (h1p < 0) {
        h1p = h1p + 360;
    }

    let h2p = Math.rad2deg(Math.atan2(b2, a2p));
    if (h2p < 0) {
        h2p = h2p + 360;
    }

    const avghp = Math.abs(h1p - h2p) > 180 ? (h1p + h2p + 360) / 2 : (h1p + h2p) / 2;

    const t = 1 - 0.17 * Math.cos(Math.deg2rad(avghp - 30)) + 0.24 * Math.cos(Math.deg2rad(2 * avghp)) + 0.32 * Math.cos(Math.deg2rad(3 * avghp + 6)) - 0.2 * Math.cos(Math.deg2rad(4 * avghp - 63));

    let deltahp = h2p - h1p;
    if (Math.abs(deltahp) > 180) {
        if (h2p <= h1p) {
            deltahp += 360;
        } else {
            deltahp -= 360;
        }
    }

    const deltalp = l2 - l1;
    const deltacp = c2p - c1p;

    deltahp = 2 * Math.sqrt(c1p * c2p) * Math.sin(Math.deg2rad(deltahp) / 2);

    const sl = 1 + ((0.015 * Math.pow(avgL - 50, 2)) / Math.sqrt(20 + Math.pow(avgL - 50, 2)));
    const sc = 1 + 0.045 * avgCp;
    const sh = 1 + 0.015 * avgCp * t;

    const deltaro = 30 * Math.exp(-(Math.pow((avghp - 275) / 25, 2)));
    const rc = 2 * Math.sqrt(Math.pow(avgCp, 7) / (Math.pow(avgCp, 7) + Math.pow(25, 7)));
    const rt = -rc * Math.sin(2 * Math.deg2rad(deltaro));

    options = options || {};

    /*
     * kl (lightness) weighting factor ( 0.0 <= kC <= 2.0)
     * Increasing kL amplifies the importance of lightness differences.
     * This can be useful for applications where subtle lightness variations are crucial, like in textile or paint industries.
     * Conversely, lowering kL downplays lightness changes, which might be beneficial for web design where screen brightness can affect perceived lightness. 
     * */
    const kl = Math.min(
            Math.max(
                options.kl || 1.0,
                0.0),
            2.0
        );
    /*
     * kC (chroma) weighting factor ( 0.0 <= kC <= 2.0)
     * Adjusting kC modifies the influence of chroma (color saturation) in the calculation.
     * Raising kC highlights chroma differences, making vibrant colors stand out more.
     * Lowering it reduces the impact of chroma variations, potentially minimizing the appearance of color shifts due to factors like lighting or viewing angle. 
     * */
    const kc = Math.min(
            Math.max(
                options.kl || 1.0,
                0.0),
            2.0
        );
    /*
     * kH (hue) weighting factor ( 0.0 <= kC <= 2.0)
     * Modifying kH alters the emphasis on hue (color tint) differences.Modifying kH alters the emphasis on hue (color tint) differences.
     * This is rarely used in practical applications due to the complexity of hue calculations and its potentially limited impact on perceived color changes in most contexts.
     * */
    const kh = Math.min(
            Math.max(
                options.kl || 1.0,
                0.0),
            2.0
        );

    const deltaE = Math.sqrt(Math.pow(deltalp / (kl * sl), 2) + Math.pow(deltacp / (kc * sc), 2) + Math.pow(deltahp / (kh * sh), 2) + rt * (deltacp / (kc * sc)) * (deltahp / (kh * sh)));
    return deltaE;
}

/**
 * Called the Just Noticeable difference threshold.
 * Represents the smallest color difference that a typical observer can perceive under specific viewing conditions.
 * For Delta E 2000, a JND value of around 1 is generally accepted. This means a Delta E 2000 difference of 1 or
 * less is often considered imperceptible to most people.
 */
deltaE2000.JND = 1.0;
</script>